@import '../node_modules/tailwindcss/base.css';
@import '../node_modules/tailwindcss/components.css';
@import '../node_modules/tailwindcss/utilities.css';
@import '../node_modules/daisyui/dist/full.css';

.theme-color {
  background: rgb(255, 255, 255);
  background-image: url('./components/images/bg.JPG');
  background-size: cover;
  
}
.custom-nav {
    font-size: 20px;
    display: flex;
    flex-direction: row-reverse;
    height: 7.5vh;
    justify-content: center;
}

.custom-hover:hover {
  transition-duration: .1s;
  background-color: rgb(49, 49, 73);
}

.custom-active {
  background-color: antiquewhite;
  color: black;
}

.custom-footer {
  font-size: 20px;
  height: 7.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.portfolio-container {
  width: 80%;
  height: 85vh;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(0, 0, 0, 0.6);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 30px 0px 30px rgba(0, 0, 0, 0.295), -30px 0px 30px rgba(0, 0, 0, 0.295) ;
}

.custom-card-header {
  padding: 1%;
}

.pages {
  width: 70%;
  height: 90%;
  overflow-y: scroll;
  scroll-behavior: auto;
  margin: 2%;
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5214286398153012) 28%); 
  border-radius: 16px;
}